/* Stile base per l'header */
.right {
    display: flex;
}

/* Pulsante di logout */
.logout-button {
    background-color: #28a745; /* Verde */
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Distanza tra il pulsante e il profilo */
    border-radius: 5px; /* Aggiungi bordi arrotondati */
}

.logout-button:hover {
    background-color: #218838; /* Colore più scuro al passaggio del mouse */
}

