/* Hero Section */
.hero-section {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/background.jpeg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}

.hero-content p {
    font-size: 20px;
    color: #f2f2f2;
    margin: 20px 0;
}

.button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #a3b18a;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #a3b18a;
    color: #ffffff;
}
