/* Servizi Section */
.servizi {
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
    padding: 60px 20px;
    text-align: center;
    color: black;
    min-height: 500px;
}

.servizi h2 {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: #23395d;
    margin-bottom: 40px;
}

/* Grid dei servizi */
.service-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    animation: fadeIn 1s ease-out;
}

.service {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    position: relative;
    overflow: hidden; /* Per evitare che la descrizione esca fuori dal div */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: solid, 0.1px, #d4af37;
}

/* Effetto hover - separazione dallo sfondo */
.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Icone dei servizi */
.service svg {
    margin-bottom: 10px;
}

/* Titoli dei servizi */
.service h3 {
    font-size: 20px;
    color: #23395d;
    margin-bottom: 10px;
}

/* Descrizione del servizio (inizialmente nascosta) */
.service p {
    font-size: 16px;
    color: #666666;
}

/* Descrizione aggiuntiva che occupa tutto lo spazio del div */
.service .service-desc {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Sovrapposizione scura */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 8px;
    transition: opacity 0.3s, visibility 0s 0.3s; /* La visibilità cambierà solo dopo l'animazione */
    text-align: center;
    font-size: 18px;
}

/* Mostra la descrizione quando si passa sopra */
.service:hover .service-desc {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s; /* La visibilità avviene subito */
}

/* Animazione di comparsa */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adattamento per dispositivi mobili */
@media (max-width: 768px) {
    .service-grid {
        flex-direction: column;
        gap: 20px;
    }

    .service {
        max-width: 90%;
    }
}
